<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="checkResult">
        <fieldset>
            <legend>취미</legend>
            <input type="checkbox" name="hobby" value="낚시">낚시
            <input type="checkbox" name="hobby" value="골프">골프
            <input type="checkbox" name="hobby" value="영화">영화
        </fieldset>
        <br>

        <select name="company">
            <option value="회사1">회사1</option>
            <option value="회사2">회사2</option>
            <option value="회사3">회사3</option>
        </select>
        <br>
        <button>확인</button>
    </form>
</body>
</html>